@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #06b6d4;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace; /* Fallback */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #0e7490; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; 
}
